{% macro list_str(list) -%}
  {% if list %}
  {% for l in list %}
            {{l}}
  {% endfor %}
  {% endif %}
{%- endmacro %}
{% macro context_str(context) -%}
  {% if context %}
Variables:
  {% for var_name, var_value in context.items() %}
    {{var_name}} = {{var_value}}
  {% endfor %}
  {% endif %}
{%- endmacro %}
"""
{{m.description}}
"""

Tests count: {{tests | count}}
Screens: {{screens}}

{{context_str(m.get_context())}}

{% for test in tests %}

Test: {{test.name}}
--------------------------------------------------------------------------

Conditions:

{{test.table}}


Detailed with components for each trial:
{% for row in test.table.expanded %}

Trial {{loop.index}}
{{test.table.expanded.header_str()-}}
{{row}}

  {{context_str(row.get_context())}}
  Phases:
    fix:
{{list_str(row.ph_fix)}}    exec:
{{list_str(row.ph_exec)}}    error:
{{list_str(row.ph_error)}}    correct:
{{list_str(row.ph_correct)}}
{% endfor %}

--------------------------------------------------------------------------
{% endfor %}

