{% macro list_str(list) -%}
  {% if list %}
  {% for l in list %}
            {{l}}
  {% endfor %}
  {% endif %}
{%- endmacro %}
{% macro context_str(context) -%}
  {% if context %}
  Variables:
  {% for var_name, var_value in context.items() %}
    {{var_name}} = {{var_value}}
  {% endfor %}
  {% endif %}
{%- endmacro %}
"""
{{m.description}}
"""

Tests: {{tests}}
Screens: {{screens}}

{{context_str(m.get_context())}}

{% for test in tests %}

Test: {{test.name}}
--------------------------------------------------------------------------
Components with param values:
{% for component in test.components %}
{{component.name}} = {{component.type.name}}({% for param in component.params %}{{param.name}} {{param.value}}{% if param.is_constant %} constant{% endif %}, {% endfor %})
{% endfor %}

Conditions:

{{test.table_spec}}

{% endfor %}

{% if m.flow %}
----------------------------------------------------------------------------
----------------------------------- FLOW -----------------------------------
----------------------------------------------------------------------------
{% for inst in m.flow.insts %}
  {% if inst.__class__.__name__ == 'ScreenInst' %}
{{loop.index}}. SCREEN  {{inst.name}}
----------------------------------------------------------------------------
{{inst.content}}

  {% else %}
{{loop.index}}. TEST {{inst.name}}
----------------------------------------------------------------------------
    {% for row in inst.table %}
Trial {{loop.index}}
{{inst.table.header_str()-}}
{{row}}

{{context_str(row.get_context())}}
  Phases:
    fix:
    {{list_str(row.ph_fix)}}    exec:
    {{list_str(row.ph_exec)}}    error:
    {{list_str(row.ph_error)}}    correct:
    {{list_str(row.ph_correct)}}
    {% endfor %}
  {% endif %}
{% endfor %}
{% endif %}
