include README.rst
include LICENSE
recursive-include pyflies *.ui
recursive-include pyflies *.qrc
recursive-include pyflies *.tx
recursive-include pyflies/gui/ui/icons *.png
recursive-include pyflies/generators *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]



